{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Vishnu Ram</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
        <!-- Page Navbar -->
        <nav class="custom-navbar" data-spy="affix" data-offset-top="20">
            <div class="container">
                <a class="logo" href="#">Welcome {{user.username}}</a>         
                <ul class="nav">
                    <li class="item">
                        <a class="link" href="/">Home</a>
                    </li>
                    <li class="item ml-md-3">
                        <a href="/login" class="btn btn-primary">Login</a>
                    </li>
                </ul>
                <a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
                    <div class="hamburger-box">
                      <div class="hamburger-inner"></div>
                    </div>
                </a>
            </div>          
        </nav><!-- End of Page Navbar -->

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Lets Concatinate?!</span>
            </h1>       
        </div>              
    

    <section class="section" id="contact">
        <div class="container text-center">
            <h6 class="section-title mb-5">Join Details</h6>
            <!-- contact form -->
            <form method="post" action="" class="contact-form col-md-10 col-lg-8 m-auto">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-sm-6">
                        <input type='text' name="name" class="form-control" placeholder="Enter Name">                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="email" name='email' class="form-control" placeholder="Enter Email">                 
                    </div>
                    <div class="form-group col-sm-6">
                        <input type="password" name='password1' size="50" class="form-control" placeholder="Enter Password">                 
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" name='password2' size="50" class="form-control" placeholder="Confirm Password">                 
                    </div>
                    <div class="form-group col-md-12 mt-3">
                        <input type="submit" value="submit" class="btn btn-outline-primary rounded">                  
                    </div>
                </div>  
            </form><!-- end of contact form -->
            {% for i in messages %}
                <h2>{{i}}</h2>
            {% endfor %}
        </div><!-- end of container -->
    </section><!-- end of contact section -->
</header><!-- end of page header -->

       <!-- footer -->
       <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">Vishnu Ram M</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.facebook.com/vishnu.ram.315" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->


    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'assets/js/meyawo.js' %}"></script>
</body>
</html>