{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Meyawo landing page.">
    <meta name="author" content="Devcrud">
    <title>Success</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'assets/vendors/themify-icons/css/themify-icons.css' %}">
    <!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/47101d2035.js" crossorigin="anonymous"></script>

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- page header -->
    <header id="home" class="header">
        <div class="overlay"></div>
        <div class="header-content container">
            <h1 class="header-title">
                <span class="up">Successfully</span>
                <span class="down">Subscribed<i class="fas fa-check-circle"></i></span>
            </h1>
            <p class="header-subtitle">Payment Successfull<i class="fas fa-check-circle"></i></p>  
            <h6 style="color:black;">Recipt will be mailed to your registered Email id</h6> 
            <a class="link" href="/profile"><button  class="btn btn-primary">Go Home</button></a>          
        </div>              
    </header><!-- end of page header -->

       <!-- footer -->
       <div class="container">
        <footer class="footer">       
            <p class="mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; <a href="http://www.devcrud.com">Vishnu Ram M</a></p>
            <div class="social-links text-right m-auto ml-sm-auto">
                <a href="https://www.facebook.com/vishnu.ram.315" class="link"><i class="ti-facebook"></i></a>
                <a href="https://join.skype.com/invite/wMAgwnvSQ2ld" class="link"><i class="ti-skype"></i></a>
                <a href="https://in.pinterest.com/vishnuram80/" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="https://www.instagram.com/___ramm_m/" class="link"><i class="ti-instagram"></i></a>
            </div>
        </footer>
    </div> <!-- end of page footer -->


    <!-- core  -->
    <script src="{% static 'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'assets/vendors/bootstrap/bootstrap.affix.js' %}"></script>

    <!-- Meyawo js -->
    <script src="{% static 'assets/js/meyawo.js' %}"></script>
</body>
</html>